# Byte-compiled
__pycache__/
*.pyc

# Virtual Environment
.venv/
.env

# Data
data/raw/*
!data/raw/sample_*.json
data/processed/*
!data/processed/sample_*.csv
data/final/

# Logs
logs/*
!.gitkeep

# Reporting
*.pbix
reporting/dashboards/
reporting/powerbi/*

# System
.DS_Store
